html, body {
    block-size: 100%;
    margin: 0px auto;
}
body{
    margin:0;   
    font-size: 100px;
}
html {
    scroll-snap-type: y mandatory;
  }
  
.block-a, .block-b, section  {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 99vw;
    margin: 0;
    overflow: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;}
.block-a{
    background-color: #002233;
}
.block-b{
    background-color: #0077b3;
}
.hero-text p{
    color: white;
    font-family: "Lucida Console";
    white-space: nowrap;
    font-size:30px;
    margin-left: 40px;
    animation-duration: 3s;
    animation-timing-function: steps(45, end);
    animation-iteration-count: 1;
}
.flexbox-container{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.text_1{
    animation-name: text1;
    overflow: hidden;
    width: 0;
    animation-fill-mode: forwards;

}
@keyframes text1  {
    from { width: 0 }
    to { width: 90% }
  }